.email-capture__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.email-capture__input {
  margin-right: 20px;
  color: #333333;
  border: none;
  height: 48px;
  padding: 0 16px;
  font-size: 14px;
  box-shadow: -2px -2px 4px #f5f5f5, 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
  width: 250px;
}

.email-capture__button {
  /* text-align: start; */
  padding: 10px;
  background-color: #233358;
  color: #ffffff;
  /* height: 48px; */
  /* padding: 12px 16px; */
  box-shadow: -2px -2px 4px #f5f5f5, 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  border-radius: 4px;
  width: 50px;
}

.landing-intro-text {
  color: #333333;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: left;
  margin-bottom: 16px;
}

.landing-text {
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  margin-bottom: 16px;
  margin: auto 15%;
}

.landing-intro__container {
  padding: 40px;
  /* max-width: 600px; */
}

.landing-intro-subtext {
  color: #828282;
  font-size: 24px;
  line-height: 34.5px;
  text-align: left;
  margin-bottom: 30px;
}

.top-section {
  margin: 0 10%;
}

.stream {
  position: relative;
  display: inline-block;
  background-color: #2fc6a8;
}

.stream.differentColor {
  background-color: #233358;
}

.stream.differentColor:before,
.stream.differentColor:after {
  content: "";
  display: block;
  background-color: #233358;
  width: 16px;
  height: 16px;
  position: absolute;
  transition: all 0.15s ease;
}

.stream:before,
.stream:after {
  content: "";
  display: block;
  background-color: #2fc6a8;
  width: 16px;
  height: 16px;
  position: absolute;
  transition: all 0.15s ease;
}

.stream:before {
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg) scale(0);
}

.stream:after {
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(0);
}

.stream__thumbnail {
  display: block;
  transform: translate(0, 0);
  transition: all 0.15s ease;
  position: relative;
  z-index: 10;
}

.stream:hover .stream__thumbnail {
  transform: translate(14px, -14px);
}

.stream:hover:before {
  transform: rotate(-45deg) scale(1);
}

.stream:hover:after {
  transform: rotate(45deg) scale(1);
}

.faces-container {
  z-index: 30;
  position: relative;
  width: 350px;
  bottom: 500px;
}

.second-block {
  background-color: #2fc6a8;
}


.sliderCard{
  width:95%;
  height:500px;
  margin:10px;
  background-color: #2fc6a8;
  margin-left: 77.5%;
  /*sweet spot!*/
}
.sliderCard > p {
  padding:10px;
}
.previewLogo{
  width:70%;
}

.landing-text-slider {
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin-bottom: 16px;
  margin: auto 15%;
}
